# ==================================================
# BASE ORIGEN: SERVIDOR ESCALL / CPANEL
# ==================================================
SOURCE_DB_ENGINE="mysql"
SOURCE_DB_HOST="IP_O_HOST_DEL_SERVIDOR_ESCALL"
SOURCE_DB_PORT="3306"
SOURCE_DB_NAME="escarperu_software"
SOURCE_DB_USER="USUARIO_MYSQL_ESCALL"
SOURCE_DB_PASSWORD="CONTRASEÑA_MYSQL_ESCALL"
SOURCE_DB_CONNECT_TIMEOUT="15"
SOURCE_DB_READ_TIMEOUT="120"
SOURCE_DB_WRITE_TIMEOUT="120"

# ==================================================
# BASE DESTINO: SERVIDOR LOCAL
# ==================================================
TARGET_DB_ENGINE="mysql"
TARGET_DB_HOST="localhost"
TARGET_DB_PORT="3306"
TARGET_DB_NAME="automatizacion_gestiones"
TARGET_DB_USER="USUARIO_MYSQL_LOCAL"
TARGET_DB_PASSWORD="CONTRASEÑA_MYSQL_LOCAL"
TARGET_DB_CONNECT_TIMEOUT="15"
TARGET_DB_READ_TIMEOUT="120"
TARGET_DB_WRITE_TIMEOUT="120"

# ==================================================
# SMTP
# ==================================================
SMTP_HOST="HOST_SMTP"
SMTP_PORT="465"
SMTP_USE_SSL="true"
SMTP_USER="CORREO_SMTP_COMPLETO"
SMTP_PASSWORD="CONTRASEÑA_SMTP"
SMTP_FROM="CORREO_SMTP_COMPLETO"
SMTP_FROM_NAME="Automatización de Gestiones"

# ==================================================
# DESTINATARIOS
# ==================================================
MAIL_GERENCIA="CORREO_GERENCIA"
MAIL_SUPERVISOR="CORREO_SUPERVISOR"
MAIL_EMPRESA_IMPULSE="CORREO_EMPRESA_IMPULSE"

# ==================================================
# CONFIGURACION GENERAL
# ==================================================
BATCH_SIZE="1000"
EXPORTAR_EXCEL="true"
ENVIAR_CORREOS="false"
APP_TIMEZONE="America/Lima"
a